<div class="px-16 w-full h-screen flex flex-wrap justify-center items-center" style="background: #010136;">

  <div class="w-1/2 text-slate-300 text-center px-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ut quam fugiat dolores accusantium laborum tempora suscipit inventore accusamus perferendis. Sunt eveniet inventore accusantium maxime. Earum voluptatum neque perspiciatis similique?</div>
  <div class="w-1/2 ">

        <form style="background-color: #001024;" class="w-96 p-10 ml-24 mb-14 rounded-2xl " action="#" method="POST">
            <div class="mb-4">
                <label for="nombre" class="block text-gray-400 text-sm font-bold mb-2">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="shadow  border rounded w-full py-2 px-3 text-gray-500 leading-tight focus:outline-none focus:shadow-outline border-gray-800" placeholder="Ingresa tu nombre" style="background-color: #010136;">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-400 text-sm font-bold mb-2">Email</label>
                <input type="email" id="email" name="email" class=" shadow appearance-none border rounded w-full py-2 px-3 text-gray-500 leading-tight focus:outline-none focus:shadow-outline  border-gray-800" placeholder="Ingresa tu email " style="background-color: #010136;">
            </div>
            <div class="mb-6">
                <label for="mensaje" class="block text-gray-400 text-sm font-bold mb-2">Mensaje</label>
                <textarea id="mensaje" name="mensaje" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-500 leading-tight focus:outline-none focus:shadow-outline h-32 resize-none border-gray-800" placeholder="Escribe tu mensaje"  style="background-color: #010136;" ></textarea>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline border-gray-800">Enviar</button>
            </div>
        </form>
  </div>

</div>
