<div class="  fixed bottom-0 w-full flex justify-evenly " style=" background-color: #001024; border-top: solid 2px #00bbffb9;">
  <button (click)="home()" routerLinkActive="active" class=" w-24 h-10 m-3 font-bold text-slate-100">Home </button>
  <button (click)="aboutme()"  class=" w-24 h-10 m-3 font-bold text-slate-100">About me </button>
  <button (click)="work()" class=" w-24 h-10 m-3 font-bold text-slate-100">Work </button>
  <button (click)="contact()" class=" w-24 h-10 m-3 font-bold text-slate-100">Contact </button>


</div>
