/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #001024;
}
button{
   border: 2px solid #8080809f;
   border-radius: 7px;

}
background1{
  background: #0101366f;
}
h6{
  color: #00BBFF;

}
